
headerbar.flat {
  background-image: none;
  border: none;
  background-color: @theme_bg_color;
}

.main-box {
  padding: 0 18px 18px;
}

.card {
  background-color: @theme_base_color;
  border: 1px solid @borders;
  border-radius: 9px;
  padding: 12px;
}

button.large {
  min-width: 48px;
  min-height: 48px;
}
