
headerbar.flat {
  background-image: none;
  border: none;
  background-color: @theme_bg_color;
  padding: 6px 12px;
}

.main-box {
  padding: 6px 18px 18px;
}

scrolledwindow.content {
  background-color: @theme_base_color;
  border: 1px solid @borders;
  border-radius: 9px;
}

listview.separators row {
  border-bottom-color: @borders;
}

.metadata-item {
  padding: 8px;
}

.card {
  background-color: @theme_base_color;
  border: 1px solid @borders;
  border-radius: 9px;
  padding: 12px;
}

button.large {
  min-width: 48px;
  min-height: 48px;
}
