
.urlbox {
  padding: 12px;
}

.card-container {
  padding: 0 12px 12px;
}

.card-text {
  padding: 12px;
}

.metadata-item {
  padding: 8px;
}

.logs {
  padding: 12px 24px;
}

.log-item {
  font-family: monospace;
  padding: 6px 0;
}
